ul.no-bullets {
    list-style: none;
}

hr {
    background-color: silver;
    width:100%;
    height: 2px;
}
.row.equal-height > [class*='col-'] {
    display: flex;
}

.img-height {
    height: 10rem;
}
#moons {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#khorvaire, .h2, .h3 {
    text-align: center;
}

section a {
    color: lightblue;
}

section a:hover {
    color: teal;
    text-emphasis: none;
    text-decoration: none;
}

footer a:hover {
    color: grey;
    text-decoration: none;
}


.info-block {
    border: solid 2px silver;
    border-radius: 8px;
}


#myths .info-img {
    height: 300px;
    width: 300px;
    margin: auto;
}


#houses img {
    display: flex;
    margin:auto; 
    margin-top: 1rem;
}
.img-square {
    height: 10rem;
    width: 10rem;
}

.img-req {
    height:10rem;
    width: 8rem;
}

.img-long {
    height: 10rem;
    width: 12rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.img-shadow {
    height: 100px;
    width: 200px;
    margin-top: 1rem;
}

.img-krak {
    height: 10rem;
    width: 5rem;
    margin-top: 1rem;
}

/****** MEDIA QUERIES ***/
@media (max-width: 564px) {
    #moonCards  {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
    }
}

@media (max-width: 766px) {
    #moonCards {
        display: flex;
        justify-content: center;
        margin-left: 12%;
    }
}
