ul.no-bullets {
    list-style: none;
}

hr {
    background-color: silver;
    width:100%;
    height: 2px;
}
.row.equal-height > [class*='col-'] {
    display: flex;
}

.img-height {
    height: 10rem;
}
#moons {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#khorvaire, .h2, .h3 {
    text-align: center;
}

section a {
    color: lightblue;
}

section a:hover{
    color: teal;
}

.info-block {
    border: solid 2px silver;
    border-radius: 5px;
    border-top: 0;
}
.info-img {
    width:40%;
}

/****** MEDIA QUERIES ***/
@media (max-width: 564px) {
    #moonCards {
        display: flex;
        justify-content: center;
        margin-left: 8%;
    }
}

@media (max-width: 766px) {
    #moonCards {
        display: flex;
        justify-content: center;
        margin-left: 20%;
    }
}