/*** GENERAL STYLES ***/
h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-transform: uppercase;
    }

section {
    width:95%;
    margin: auto;
}

ul.no-bullets {
    list-style: none;
    }

#smTitle {
    font-size: 1.5rem;
    margin-top: .75rem;
    color: silver;
    text-transform: uppercase;
}

hr {
    background-color: silver;
    width:100%;
    height: 2px;
    margin-top: 0px;
    box-shadow: 0px 2px 3px #20272b;
}

p {
    text-indent: .75rem;
}

.info-block {
    border: solid 1px silver;
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow:0px 2px 3px #20272b;
}

/*** links ***/
section a {
    color: lightblue;
    }
    
    section a:hover {
    color: teal;
    text-emphasis: none;
    text-decoration: none;
    }
    
    footer a:hover {
    color: grey;
    text-decoration: none;
    }

/**** Cards ****/
.row.equal-height > [class*='col-'] {
    display: flex;
}
.img-height {
    height: 10rem;
    }

.card ul {
    text-align: left;
}

.modal-body {
    color:gray;
}

/*** SECTION-SPECIFIC***/

.side-list {
    text-indent: 2rem;
}

#moonCards, #houseCards {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#houses img {
    display: flex;
    margin:auto;
    margin-top: 1rem;
    }

.img-krak {
    height: 20rem;
    width: 11rem;
    margin:auto;
    margin-top: 1rem;
}

table {
    display: flex;
    margin: auto;
    }

/***IMAGES***/
#myths .info-img {
    height:20rem;
    width: 20rem;
    display: flex;
    margin: auto;
    padding: auto;
    }

    .thumbnail {
        display: flex;
        width: 3rem;
        height: auto;
        margin: auto;
        }
        .blowup {
            display:none;
            position: absolute;
            }
            
            .blowup:hover{
            height:20rem;
            width: 20rem;
            display: flex;
            margin: auto;
            }

/*** MEDIA QUERIES ***/

/*** ~medium ***/
@media screen and (min-width: 775px) {
    #smTitle {
        display: none;
    }

    section {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    
    }
}