/* general-- universal */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background: #0e0910;
    color: #aaa;
}

p {
    text-indent: 2em;
}

header {
    background: #222123;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 3px solid lightblue;
}

.infoBlock,
#h_main p {
    background: #222123;
    width: 70%;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    line-height: 1.5em;
}    

/* .infoBlock, aside{
    box-shadow: 10px 10px 15px #aaa;
} */

aside {
    background: #222123;
    width: 40%;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: 15%;
    padding: 7px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    border-top: solid 1px #0e0910;
}

aside h4 {
    display: inline;
}

.bottomTag  {
    border-radius: 0 0 20px 0;
}


.info_li ul {
    background: #514754;
    width: 20%;
    padding: 7px;
    border-bottom: solid 1px #0e0910;
    border-top: solid 1px #0e0910;
}

.info_li ul li {
    background: #222123;
    font-size: .90em;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: -7px;
    padding: 2% 2% 2% 4%;
    border-radius: 0 8px 8px 0;
    display: inline-block;
}

h2, h3, h4 {
    width: 20%;
    background: #222123;
    padding: 7px;
    border-radius: 0 20px 0 0;
    border-bottom: solid 1px #0e0910;
}


h2 {
    font-size: 1.5em;
}
/* tables */


th {
    background: #222123;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

td {
    background: #514754;
    border: solid 1px #222123;
    padding-left: 3px;
    padding-right: 3px;
}

.tr-2 td{
    background: #8B828D;
    color: #222123;
}

/*nav */

 a {
    text-decoration: none;
    color: #aaa;
}
.nav-2 li{
    list-style-type: none;
    display: inline;
    margin: 10px;
    
}
.main_nav {
    text-align: center;
    position: fixed;
    top:30%;
    left: 90%;
    margin-right: 5px;
    
}

.main_nav ul li {
    list-style-type:none;
    background: #222123;
    margin-bottom: 5px;
    padding: 3px;
    
    font-size: 1em;
    border-radius: 10%;
}

.main_nav .arrow {
    border-radius: 100%;
    text-align: center;
}

/* animations */
@keyframes link {
    from {
        width: 100%; padding: 5px;
    }
    to {
        width: 150%; padding: 15px;
    }
}
.main_nav ul li:hover {
    animation: link linear ;

}

/*forms */
#container {
    width: 600px;
    margin: 0 auto;
}

form {
    margin-top: 40px;
}

fieldset {
    padding: 40px;
    border: solid 1px #aaa;
    background: url('images/blue_background.jpg');
}

fieldset legend {
    background: white;
    padding: 10px;
    border: solid 1px #aaa;
}

input[type="text"],
input[type="tel"],
input[type="email"], 
textarea {
    padding: 10px;
    margin: 0 0 20px;
    border: solid 1px #454545;
    border-top:none;
    display: block;
    width: 50%;
    font-size: 14px;
    color: #777;
    font-family: Monaco, monospace;
    text-transform: uppercase;
}

textarea {
    resize: none;
}

label {
    font-size: 12px;
    background-image: url('images/red_background.jpg');
    display: block;
    width: 50%;
    padding:11px;
    color: white;
}

input[type="submit"] {
    background: none;
    background: url('images/button_background.jpg') repeat-x;
    height: 40px;
    padding: 0 40px;
    border: solid 1px #777;
    color:white;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: #444;
}

input[type="submit"]:active {
    border-color: #111;
    outline-color: red;
}